@tailwind base;
@tailwind components;
@tailwind utilities;

/* style.css */
.gutter {
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter:hover {
  background-color: #999;
}
